{{#if posts.length}}
{{#each posts}}
<div class="posts card" >
	<input type="hidden" name="post_id" value="{{_id}}">
	<div class="top">
		<a href="/users/{{author._id}}">
			<div class="author-img">
				<img src="{{author.img}}">
			</div>
		</a> 

		<div class="info">
			<a href="/users/{{author._id}}">
				{{author.name}}
			</a>
			<div class="date">
				{{moment date "DD.MM.YYYY - HH:mm"}}
			</div>
		</div>

		<div class="buttons">
			{{#ifeq author._id @root.user_id}}
			<a href="/posts/{{_id}}/edit">
				<button class="btn fas fa-edit"></button>
			</a>
			<a href="/posts/{{_id}}/remove">
				<button class="btn red fas fa-trash"></button>
			</a>
			
			
			{{/ifeq}}
		</div>
	</div>
	<div class="center">
		<div style="background-color:{{color}}" class="name">
			<a href="/posts/{{_id}}">{{name}} </a>
		</div>
		<div class="content">
			{{#if content}}
			{{#ifCond content.length ">" 150}}
				{{{trimString content 0 150}}}<a href="/posts/{{_id}}">...</a>
			{{else}}
				{{{content}}}
			{{/ifCond}}
			{{/if}}
			
			{{#if img}}
				<img src="{{img}}">
			{{/if}}
		</div>
	</div>
	<div class="bottom">
		<a href="/posts/{{_id}}">
		  <i class="far fa-comment"></i>
			<label>{{comments}}</label>
		</a>
		<div>
			<a href="/posts/{{_id}}/like">
				{{#if liked}}
					<button><i id="like" class="fa fa-heart"></i> {{likes.length}}</button>
				{{else}}
					<button><i id="like" class="far fa-heart"></i> {{likes.length}}</button>
				{{/if}}
			</a>
			<div class="tooltip">
				{{#each likes}}
					<p><a href="/users/{{_id}}"><img src="{{img}}"></a></p>
				{{/each}}
			</div>
		</div>
	</div>
</div>
{{/each}}
{{else}}
<p>{{error}}</p>
{{/if}}

{{!-- <script>
	document.querySelector("#like").onclick = async () => {
		var like = document.querySelector("#like");
		var check;
		if (like.classList.contains("far")) {
			check = 1;
			document.querySelector(".hid").value = check;
		}
		else {
			check = 0;
			document.querySelector(".hid").value = check;
		}
	}
</script> --}}
