<div class="postPage">
	<div class="posts card" >
		<div class="top">
			<input type="hidden" name="post_id" value="{{post._id}}">
			<a href="/users/{{post.author._id}}">
				<img src="{{post.author.img}}">
			</a> 
			<div class="info">
				<a href="/users/{{post.author._id}}">
					{{post.author.name}}
				</a>
				<div class="date">
					{{moment post.date "DD.MM.YYYY - HH:mm"}}
				</div>
			</div>

			<div class="buttons">
				{{#ifeq post.author._id @root.user_id}}
					<a href="/posts/{{post._id}}/edit">
						<button class="btn fas fa-edit"></button>
					</a>
					<a href="/posts/{{post._id}}/remove">
						<button style="width: 32px" class="btn red fa fa-trash"></button>
					</a>
				{{/ifeq}}
			</div>
		</div>

		<div class="center">
			<div style="background-color:{{post.color}}" class="name">
				<a href="/posts/{{post._id}}">{{post.name}} </a>
			</div>

			<div class="content">
				{{{post.content}}}
			</div>

			<div class="likes">
				<a href="/posts/{{post._id}}/like">
					{{#if post.liked}}
						<button><i id="like" class="fa fa-heart"></i><span>{{post.likes.length}}</span></button>
					{{else}}
						<button><i id="like" class="far fa-heart"></i><span>{{post.likes.length}}</span></button>
					{{/if}}
				</a>
			</div>
		</div>
	</div>
</div>

<div class="commentForm">
	<form method="POST" action="/posts/{{post._id}}/comment">
		<textarea name="comment" ></textarea>
		<button>Комментировать</button>
	</form>
</div>

{{#if comments.length}}
{{#each comments}}
	<div class="comment-post">
		<div class="top">
			<a href="/users/{{author._id}}">
				<div class="author-img">
					<img src="{{author.img}}">
				</div>
			</a> 
			<div class="info">
				<a href="/users/{{author._id}}">
					{{author.name}}
				</a>
				<div class="date">
					{{moment date "DD.MM.YYYY - HH:mm"}}
				</div>
			</div>

			<div class="buttons">
				{{#ifeq author._id @root.user_id}}
				<a href="/posts/comment/{{_id}}/edit">	
					<button class="btn fas fa-edit"></button>
				</a>
				<a href="comment/{{_id}}/remove">
					<button class="btn red fas fa-trash"></button>
				</a>
				{{/ifeq}}
			</div>
		</div>

			<div class="center">
				<div class="content">
					{{#ifCond content.length ">" 150}}
						{{trimString content 0 150}}...
					{{else}}
						{{comment}}
					{{/ifCond}}
				</div>
			</div>
	</div>
	{{/each}}

{{/if}}

