<h1>Редактирование поста</h1>

<div class="page post-edit">
    <form action="/posts/{{post._id}}/edit" method="POST" class="profile-form" enctype="multipart/form-data">
 		<p>Введите заголовок поста </p>
            <input class="name" name="name" type="text" value="{{post.name}}">
			{{#if error}}
				<p>{{error}}</p>
			{{/if}}
        <div>
			<p>Выберите цвет фона</p>
			<input class="color" name="color" type="color" value="{{post.color}}">
		</div>

    	<p>Введите содержимое поста</p>
	    <textarea rows="10" name="content" type="text" class="validate">{{post.content}}</textarea>
		<div class="upload">
			<div>
				{{#if post.img}}
				<img src="{{post.img}}">
				<button class="delete1" type="button"><i class="fas fa-trash"></i></button>
				<input class="hidden" name="d1" id="d1"/>
				{{/if}}
			</div>
			<div class="button">
				<div>
					<p>Прикрепить картинку</p>
		  			<button class="my" type="button"><i class="fas fa-download"></i></button>
				</div>

				<div>
					<p>Открепить картинку</p>
					<button class="delete2" type="button"><i class="fas fa-trash"></i></button>
					<input class="hidden" name="d2" id="d2"/>
		  			<input class="hidden" id="file" type="file" name="img"/>
				</div>
			</div>
		</div>

    	<button type="submit" class="btn btn-primary">Редактировать пост</button>
    </form>
</div>

<script> 
	document.querySelector(".my").onclick = () => {
		document.querySelector("#file").click();
	};
	document.querySelector(".delete1").onclick = () => {
		document.getElementById("d1").value = 1;
		
	};
	document.querySelector(".delete2").onclick = () => {
		document.getElementById("d2").value = 1;
		
	};
</script>