
<div class="postPage">
	<div class="posts card" >
		<div class="top">
			<a href="/users/{{post.author._id}}">
				<img src="{{post.author.img}}">
			</a> 
			<div class="info">
				<a href="/users/{{post.author._id}}">
					{{post.author.name}}
				</a>
				<div class="date">
					{{moment post.date "DD.MM.YYYY - HH:mm"}}
				</div>
			</div>

			<div class="buttons">
				{{#ifeq post.author._id @root.user_id}}
					<a href="/posts/{{post._id}}/edit">
						<button class="btn fas fa-edit"></button>
					</a>
					<a href="/posts/{{post._id}}/remove">
						<button style="width: 32px" class="btn red fa fa-trash"></button>
					</a>
				{{/ifeq}}
			</div>
		</div>

			<div class="center">
				<div style="background-color:{{post.color}}" class="name">
					<a href="/posts/{{_id}}">{{post.name}} </a>
				</div>

				<div class="content">
					{{post.content}}
				</div>
			</div>

		</div>
	</div>

{{#if comments.length}}
{{#each comments}}
	<div class="comment-post">
		<img  src="{{author.img}}">
		{{author.name}}
		{{moment date "DD.MM.YYYY - HH:mm"}}
		<p>{{comment}}</p>
	</div>
	{{#ifeq author._id @root.user_id}}
		<form action="/posts/{{_id}}/remove" method="GET">
		    {{!-- <input type="hidden" name="id" value="{{_id}}"> --}}
		    <button class="btn red"><i class='fa fa-trash'></i></button>
		</form>
	{{/ifeq}}
{{/each}}

{{/if}}
<div class="btn comment">
	<form method="POST" action="/posts/{{post._id}}/comment">
		<textarea name="comment"></textarea>
		<button>Комментировать</button>
	</form>
</div>
