<h1>Редактирование поста</h1>

<div class="page post-edit">
    <form action="/posts/{{post._id}}/edit" method="POST" class="profile-form" enctype="multipart/form-data">
 		<p>Введите заголовок поста </p>
            <input class="name" name="name" type="text" value="{{post.name}}">
			{{#if error}}
				<p>{{error}}</p>
			{{/if}}
        <div>
			<p>Выберите цвет фона</p>
			<input class="color" name="color" type="color" value="{{post.color}}">
		</div>

    	<p>Введите содержимое поста</p>
	    <textarea rows="10" name="content" type="text" class="validate">{{post.content}}</textarea>
		<div class="upload">
			<img src="{{post.img}}">
			<p>Прикрепить картинку</p>
  			<button class="my" type="button"><i class="fas fa-download"></i></button>
  			<input class="hidden" id="file" type="file" name="img"/>
		</div>

    	<button type="submit" class="btn btn-primary">Редактировать пост</button>
    </form>
</div>

<script> 
	document.querySelector(".my").onclick = () => {
		document.querySelector("#file").click();
	};
</script>