<h1>Profile</h1>

<div class="profile">
	<div class="card-profile">
	  <img src="{{user.img}}" alt="Avatar" style="width:100%">
	  {{!-- <img src="../uploads/Безымянный.jpg" alt="Avatar" style="width:100%"> --}}

	  <div class="card-container">
	    <h4><b>{{user.name}}</b></h4> 
	    <form method="post" action="/upload" enctype="multipart/form-data">
  			<input type="file" name="filedata" /><br><br>
 			<input type="submit" value="Загрузить"/>
</form>
	  </div>
	</div>

	<div class="profile_info">
		{{user.info}}
		{{#ifeq user._id user_id}}
		<p><a href="/profile/edit">
   	   <button class="edit-profile btn-primary">Редактировать</button></a></>
		  {{/ifeq}}
	</div>
</div>
<div class="profile_posts">
		{{!-- {{#if posts.length}}
		{{#each posts}}
			
			<p>{{posts.name}}</p>
			<p>{{content}}</p>
			<p>{{moment date "DD.MM.YYYY - HH:mm"}}</p>
		{{/each}}
		{{/if}}
		Посты --}}
		{{> posts}}
	</div>

