<h1>{{title}}</h1>

{{#if users.length}}
<div class="page users">
{{#each users}}
<div class="user">
  <p><a title="{{info}}" href="/users/{{_id}}"><img src="{{img}}"></a></p>
  <p data-tooltip="{{info}}"><a href="/users/{{_id}}">{{name}} </a></p>
  <input type="hidden" name="id" value="{{_id}}">
  {{!-- <p>{{info}}</p> --}}

</div>


{{/each}}
</div>
{{/if}}