<h1>{{title}}</h1>

{{#if users.length}}
<div class="page users">
{{#each users}}
<div class="user">
    <div class="img">
      <p><a href="/users/{{_id}}"><img src="{{img}}"></a></p>
      <p>{{name}}</p>
    </div>
    <div class="info">
      <p>{{info}}</p>
    </div>
    <input type="hidden" name="id" value="{{_id}}">
  {{!-- <p>{{info}}</p> --}}

</div>


{{/each}}
</div>
{{/if}}