{{#if users.length}}
    <div class="page users">
    	<form class="search" action="/users/search" method="POST">
    		<input name="search" placeholder="Поиск по пользователям" type="search">
    		<button type="submit">Поиск</button>
    	</form>

        {{#each users}}
        <div class="user">
    		<div class="img">
    			<p><a href="/users/{{_id}}"><img src="{{img}}"></a></p>
    		</div>
    		<div class="info">
    			<span><a href="/users/{{_id}}">{{name}}</a></span>
    			<p>{{info}}</p>
    		</div>
    		<input type="hidden" name="id" value="{{_id}}">
    	{{!-- <p>{{info}}</p> --}}

        </div>

        {{/each}}
    </div>
{{else}}
    <p>{{error}}</p>
    <a style="text-decoration: underline;" href="/users">Вернуться к поиску</a>
{{/if}}